@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Kalam|Permanent+Marker|Montserrat&display=swap');

body{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom,#FFBD54 0%,#fec458 50%,#FFBC3A 100%);
  background-repeat: no-repeat;
  /* background: rgb(198, 241, 156) url('./Images/bg') right; */
}

.container{
  padding-bottom:15%;
}

#quote-box{
  width:75%;
  margin:0 auto;
  /* border:3px rgba(0, 0, 0,.5) outset; */
  padding:3%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  /* box-shadow:-1px -1px 25px rgb(252, 250, 249); */
}

h1{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  margin:40px auto;
  letter-spacing: 1.5px;
  color:black;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 5px;
  /* -webkit-text-stroke-color: rgb(223, 223, 223); */

}

h3{
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(0, 0, 0);

}

h4{
  font-family: 'Kalam', cursive;
  color: rgb(143, 134, 7);
  font-weight: bold;
  letter-spacing: 1.5px;
  
}

#new-quote{
  font-size:12px;
  color: rgb(8, 8, 8);
  padding:10px 20px;
  margin:0 4% 0 0;
  font-weight: bold;
  border-radius: 5px;
  border:outset black 1px;
  background: #FFBD54;
  
}

.btn{
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border:none !important;
}

.btn:focus{
  border:none !important;
}

.btn:hover{
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color:black;
  font-weight:bold;
}

.icon {
  font-size: 25px;
  color:rgb(12, 1, 1);
 vertical-align: middle;
}

.icons-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 5%;
}

.smiley{
  width:200px;
  margin:0 auto;
}

.winky{
  width:30px;
  margin-left:10px;
  vertical-align: middle;
}