@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Kalam|Permanent+Marker&display=swap');

body{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  background: rgb(198, 241, 156) url('./Images/bg') right;
}

#quote-box{
  border:3px rgb(247, 246, 244) outset;
  border-radius:8px;
  padding:40px;
  background: rgb(250, 248, 246);
  box-shadow:-1px -1px 25px rgb(252, 250, 249);
}

h1{
  font-family: 'Permanent Marker', cursive;
  margin:40px 0;
  letter-spacing: 1.5px;
  color:rgb(149, 180, 128);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

h3{
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  color: rgb(81, 151, 10);
  border:2px rgb(247, 246, 244) outset;
  box-shadow:-1px -1px 25px rgb(208, 224, 170);

}

h4{
  font-family: 'Kalam', cursive;
  color: rgb(52, 94, 11);
  font-weight: bold;
  letter-spacing: 1.5px;
  
}

#new-quote{
  font-size:10px;
  color: rgb(8, 8, 8);
  padding:6px;
  font-weight: bold;
  border-radius: 5px;
  background: rgb(198, 241, 156);
  
}

.btn{
  font-family: 'Kalam', cursive;
  padding:3px 5px;
}

.btn:hover{
  transform: scale(.9); 
}

a {
  text-decoration: none;
  color:black;
  font-weight:bold;
}

.twitter-icon{
  position: absolute;
  width:52px;
  margin-top: -9px;
}